@charset "UTF-8";
@import url('common.css');

.header{
    position:fixed;
    top:0;
    width:100%;
    padding:43px 0;
    z-index: 999;

    div{
        width:95%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        align-items:center;
        a{
            img{width:100%; vertical-align: middle;}
        }
        nav{
            display:flex;
            align-items: center;
            a{
                padding:0 30px; font-weight: bold; font-size:1.1em; color:#000;
                img{width:100%; vertical-align: middle;};
            }
            a:nth-of-type(5){padding:0;}
        }
        
    }
}

aside{
    position: fixed;
    top:80%; right:4%;
    .sns{ 
        li a img{
            width:20px;
        }   
    }
}

.main_01{
    width:100%;
    margin-top:200px;
    h2{
        font-size:10em;
        margin-left: 6.61%;
    }
    p{
        margin: 0 0 0 333px;
        margin-left: 17.34%;
        font-weight: bold;
        font-size:1.5em;
        line-height: 1.4;
        white-space: pre-line
        
    }
}
.main_02{
    width:90%;
    margin: 0 auto;
    .title_w{
        font-size:5.2em;
        color: #d1d1d1;
        margin:284px 5% 117px 5.78%; 
        line-height: 1.13;
    }
    .section{
        margin:0 5.78%;
        h5{font-size:4.5em; margin:77px 0 26px 0;}
        .table{
            border-top:2px solid #000;
            display:flex;
            justify-content:space-between;
            padding-top:48px;

            p:nth-of-type(1){width:23%; font-size:1.5em; text-align:left; margin:0 15px;}
            p:nth-of-type(2){width:27%; font-size:1.5em; text-align:left; margin:0 15px;}
            p:nth-of-type(3){width:32%; font-size:1.5em; text-align:left; margin:0 15px;}
            p:nth-of-type(4){
                width:18%;
                height:40px;
                font-size:1.1em;
                display:block;
                border:1px solid #000; 
                padding:7px 0;
                text-align: center;
                position:relative;
                overflow: hidden;
                
                a{  
                    position:absolute;
                    left:50%; top:100%;
                    transform:translate(-50%,-50%);
                    transition:.35s;
                    
                    &::after{
                        content:'APPLY';
                        display:block;
                        background:#000;
                        color:#fff;
                        width:260px;
                        height:36px;
                        line-height: 40px;
                        text-align: center;
                        transform:translateY(40%);
                    }
                }
            }
            p:nth-of-type(4):hover a{
                top:-13%;
            }    
        }
    }
}

.main_03{
    width:80%;
    margin: 0 auto;
    .title_w{
        font-size:5.2em;
        color: #d1d1d1;
        margin:284px 5% 117px 5.78%; 
        line-height: 1.13;
    }
    .holder{
        display:flex;
        justify-content: space-between;
        margin-left:5.78%;
        width: 90%;

        .module_01{
            div:nth-last-of-type(2){padding:150px 0;}
            width:50%;
            margin-left: 10.47%;
            h5{font-size:2.2em; margin-bottom:10px;}
            p{font-size:1.5em; margin-bottom:30px;}

        }
        .module_02{
            margin-top:250px;
            div:nth-last-of-type(2){padding:150px 0;}
            width:50%;
            h5{font-size:2em; margin-bottom:10px;}
            p{font-size:1.5em; margin-bottom:30px;}
        }
    }

}



footer{
    padding: 100px 4.17% 70px;
    p{font-size:1em; letter-spacing:0.25px;}
}

@media (max-width:1250px){
    .main_01{
        h2{font-size:8em;}
        p{font-size:1.2em;}
    }
    .main_02{
        .title_w{font-size:4em;}
        .section{
            h5{
                font-size:3.5em;
            }
            .table{
                p:nth-of-type(1){font-size:1.2em;}
                p:nth-of-type(2){font-size:1.2em;}
                p:nth-of-type(3){font-size:1.2em;}
                p:nth-of-type(4){
                    a{font-size:0.8em;}
                }
            }
        }
    }
    .main_03{
        .title_w{font-size:4em;}
        .holder{
            .module_01{
                h5{font-size:1.6em;}
                p{font-size:1.2em;}
            }
            .module_02{
                h5{font-size:1.6em;}
                p{font-size:1.2em;}
            }
        }
    }
}

@media (max-width:1024px){
    .main_01{
        h2{font-size:6em;}
        p{font-size:0.9em;}
    }
    .main_02{
        .title_w{font-size:3em;}
        .section{
            h5{
                font-size:2.5em;
            }
            .table{
                p:nth-of-type(1){font-size:1em;}
                p:nth-of-type(2){font-size:1em;}
                p:nth-of-type(3){font-size:1em;}
                p:nth-of-type(4){
                    a{font-size:0.8em;}
                }
            }
        }
    }
    .main_03{
        .title_w{font-size:3em;}
        .holder{
            .module_01{
                h5{font-size:1.3em;}
                p{font-size:1em;}
            }
            .module_02{
                h5{font-size:1.3em;}
                p{font-size:1em;}
            }
        }
    }

    .header{
        div{
            a{
                img{width:50%}
            }
            nav{
                a{font-size:0.8em;}
            }
        }
    }
}
