@import url("common.css");
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 43px 0;
  z-index: 999;
}

.header div {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header div .logo img {
  width: 100px;
}

.header div .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header div .menu a {
  padding: 0 30px;
  font-weight: bold;
  font-size: 1.1em;
  color: #000;
}

.header div .menu a img {
  width: 70px;
  vertical-align: middle;
  display: inline-block;
}

.header div .menu a:nth-of-type(5) {
  padding: 0;
}

aside {
  position: fixed;
  top: 80%;
  right: 4%;
}

aside .sns li a img {
  width: 20px;
}

.main_01 {
  width: 100%;
  margin-top: 200px;
}

.main_01 h2 {
  font-size: 10em;
  margin-left: 6.61%;
}

.main_01 p {
  margin: 0 0 0 333px;
  margin-left: 17.34%;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.4;
  white-space: pre-line;
}

.main_02 {
  width: 90%;
  margin: 0 auto;
}

.main_02 .title_w {
  font-size: 5.2em;
  color: #d1d1d1;
  margin: 284px 5% 117px 5.78%;
  line-height: 1.13;
}

.main_02 .section {
  margin: 0 5.78%;
}

.main_02 .section h5 {
  font-size: 4.5em;
  margin: 77px 0 26px 0;
}

.main_02 .section .table {
  border-top: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
}

.main_02 .section .table p:nth-of-type(1) {
  width: 23%;
  font-size: 1.5em;
  text-align: left;
  margin: 0 15px;
}

.main_02 .section .table p:nth-of-type(2) {
  width: 27%;
  font-size: 1.5em;
  text-align: left;
  margin: 0 15px;
}

.main_02 .section .table p:nth-of-type(3) {
  width: 32%;
  font-size: 1.5em;
  text-align: left;
  margin: 0 15px;
}

.main_02 .section .table p:nth-of-type(4) {
  width: 18%;
  height: 40px;
  font-size: 1.1em;
  display: block;
  border: 1px solid #000;
  padding: 7px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.main_02 .section .table p:nth-of-type(4) a {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .35s;
  transition: .35s;
}

.main_02 .section .table p:nth-of-type(4) a::after {
  content: 'APPLY';
  display: block;
  background: #000;
  color: #fff;
  width: 260px;
  height: 41px;
  line-height: 40px;
  text-align: center;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
}

.main_02 .section .table p:nth-of-type(4):hover a {
  top: -13%;
}

.main_03 {
  width: 80%;
  margin: 0 auto;
}

.main_03 .title_w {
  font-size: 5.2em;
  color: #d1d1d1;
  margin: 284px 5% 117px 5.78%;
  line-height: 1.13;
}

.main_03 .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5.78%;
  width: 90%;
}

.main_03 .holder .module_01 {
  width: 50%;
  margin-left: 10.47%;
}

.main_03 .holder .module_01 div:nth-last-of-type(2) {
  padding: 150px 0;
}

.main_03 .holder .module_01 h5 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

.main_03 .holder .module_01 p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.main_03 .holder .module_02 {
  margin-top: 250px;
  width: 50%;
}

.main_03 .holder .module_02 div:nth-last-of-type(2) {
  padding: 150px 0;
}

.main_03 .holder .module_02 h5 {
  font-size: 2em;
  margin-bottom: 10px;
}

.main_03 .holder .module_02 p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

footer {
  padding: 100px 4.17% 70px;
}

footer p {
  font-size: 1em;
  letter-spacing: 0.25px;
}

@media (max-width: 1250px) {
  .main_01 h2 {
    font-size: 8em;
  }
  .main_01 p {
    font-size: 1.2em;
  }
  .main_02 .title_w {
    font-size: 4em;
  }
  .main_02 .section h5 {
    font-size: 3.5em;
  }
  .main_02 .section .table p:nth-of-type(1) {
    font-size: 1.2em;
  }
  .main_02 .section .table p:nth-of-type(2) {
    font-size: 1.2em;
  }
  .main_02 .section .table p:nth-of-type(3) {
    font-size: 1.2em;
  }
  .main_02 .section .table p:nth-of-type(4) a {
    font-size: 0.8em;
  }
  .main_03 .title_w {
    font-size: 4em;
  }
  .main_03 .holder .module_01 h5 {
    font-size: 1.6em;
  }
  .main_03 .holder .module_01 p {
    font-size: 1.2em;
  }
  .main_03 .holder .module_02 h5 {
    font-size: 1.6em;
  }
  .main_03 .holder .module_02 p {
    font-size: 1.2em;
  }
}

@media (max-width: 900px) {
  .main_01 h2 {
    font-size: 6em;
  }
  .main_01 p {
    font-size: 0.9em;
  }
  .main_02 .title_w {
    font-size: 3em;
  }
  .main_02 .section h5 {
    font-size: 2.5em;
  }
  .main_02 .section .table p:nth-of-type(1) {
    font-size: 1em;
  }
  .main_02 .section .table p:nth-of-type(2) {
    font-size: 1em;
  }
  .main_02 .section .table p:nth-of-type(3) {
    font-size: 1em;
  }
  .main_02 .section .table p:nth-of-type(4) a {
    font-size: 0.8em;
  }
  .main_03 .title_w {
    font-size: 3em;
  }
  .main_03 .holder .module_01 h5 {
    font-size: 1.3em;
  }
  .main_03 .holder .module_01 p {
    font-size: 1em;
  }
  .main_03 .holder .module_02 h5 {
    font-size: 1.3em;
  }
  .main_03 .holder .module_02 p {
    font-size: 1em;
  }
  .header div .logo img {
    width: 70px;
  }
  .header div .menu a {
    padding: 0 20px;
    font-size: 0.9em;
  }
  .header div .menu a img {
    width: 50px;
  }
}

@media (max-width: 480px) {
  aside .sns li a img {
    width: 15px;
  }
  .header div .logo img {
    width: 50px;
  }
  .header div .menu a {
    padding: 0 8px;
    font-size: 0.5em;
  }
  .header div .menu a img {
    width: 35px;
  }
  .main_01 h2 {
    font-size: 4.5em;
  }
  .main_01 p {
    font-size: 0.7em;
  }
  .main_02 .title_w {
    font-size: 2em;
    margin: 100px 0 60px 0;
  }
  .main_02 .section {
    width: 100%;
    margin: 0;
  }
  .main_02 .section h5 {
    margin-top: 30px;
    font-size: 1.5em;
  }
  .main_02 .section .table {
    padding: 30px 0;
  }
  .main_02 .section .table p:nth-of-type(1) {
    font-size: 0.6em;
    margin: 0;
    width: 23%;
  }
  .main_02 .section .table p:nth-of-type(2) {
    font-size: 0.6em;
    margin: 0;
    width: 20%;
  }
  .main_02 .section .table p:nth-of-type(3) {
    font-size: 0.6em;
    margin: 0;
    width: 26%;
  }
  .main_02 .section .table p:nth-of-type(4) {
    height: 20px;
  }
  .main_02 .section .table p:nth-of-type(4) a {
    font-size: 0.5em;
  }
  .main_02 .section .table p:nth-of-type(4) a::after {
    height: 20px;
  }
  .main_03 {
    width: 100%;
  }
  .main_03 .title_w {
    font-size: 2.5em;
    margin-top: 100px;
  }
  .main_03 .holder .module_01 h5 {
    font-size: 1em;
  }
  .main_03 .holder .module_01 p {
    font-size: 0.6em;
  }
  .main_03 .holder .module_01 div:nth-last-of-type(2) {
    padding: 50px 0;
  }
  .main_03 .holder .module_02 h5 {
    font-size: 1em;
  }
  .main_03 .holder .module_02 p {
    font-size: 0.6em;
  }
  .main_03 .holder .module_02 div:nth-last-of-type(2) {
    padding: 50px 0;
  }
  footer {
    padding: 40px 20px;
  }
  footer p {
    font-size: 0.6em;
  }
}
/*# sourceMappingURL=apply.css.map */