@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

@font-face{
    font-family: 'gotham';
    src:url('../font/Gotham-Font/Gotham-Black.otf');
}

/* @font-face{
    font-family: "gothamBook";
    src:url('/font/Gotham-Font/GothamBook.ttf');
}

@font-face{
    font-family: "gothamLight";
    src:url('/font/Gotham-Font/Gotham-Light.otf');
} */



html, body{margin:0;}
p,figure,h1,h2,h3,h4,h5,h6{margin:0;}
ul,li{list-style: none; margin:0; padding:0;}

*{
    box-sizing: border-box;
    font-family: 'gotham', 'Noto Sans KR', sans-serif;
}
img{width:100%; vertical-align: top;}
a{
    text-decoration: none;
    color:#555;
}
