@import url("common.css");
html, body {
  height: 100%;
}

.header_02 {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 43px 0;
  z-index: 999;
}

.header_02 div {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_02 div .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_02 div .menu a {
  padding: 0 30px;
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.header_02 div .menu a img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.header_02 div .menu a:nth-of-type(5) {
  padding: 0;
}

.header_02 div .menu a.active {
  color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

aside {
  position: fixed;
  top: 80%;
  right: 4%;
  z-index: 999;
}

aside .sns li a img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main_01 {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 99;
}

.main_01 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_01 h2 {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 9em;
}

.main_02 {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
}

.main_02 span {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 9em;
  color: #484848;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.main_03 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
}

.main_03 .txt {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 99;
}

.main_03 .txt p:first-child {
  font-size: 5.5em;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 5px;
}

.main_03 .txt p:last-child {
  font-size: 2em;
  margin: 50px 0 50px 130px;
}

.main_04 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
}

.main_04 .txt {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 99;
}

.main_04 .txt p:first-child {
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 5px;
}

.main_04 .txt p:last-child {
  font-size: 1.5em;
  margin: 50px 0 50px 130px;
  white-space: pre-line;
}

.main_05 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
}

.main_05 .txt {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 99;
}

.main_05 .txt p:first-child {
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 5px;
}

.main_05 .txt p:last-child {
  font-size: 1.5em;
  margin: 50px 0 50px 130px;
  white-space: pre-line;
}

.main_06 {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #fff;
}

.main_06 .txt {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 99;
}

.main_06 .txt p:first-child {
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 5px;
}

.main_06 .txt p:last-child {
  font-size: 1.5em;
  margin: 50px 0 50px 130px;
  white-space: pre-line;
}

.main_07 {
  display: none;
}

.main_07 img {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 60%;
  z-index: 89;
}

footer {
  padding: 100px 4.17% 70px;
}

footer p {
  font-size: 1em;
  letter-spacing: 0.25px;
}

@media (max-width: 900px) {
  .header_02 div .logo img {
    width: 70px;
  }
  .header_02 div .menu a {
    padding: 0 20px;
    font-size: 0.9em;
  }
  .header_02 div .menu a img {
    width: 100%;
  }
  .main_01 h2 {
    font-size: 6.5em;
  }
  .main_02 span {
    font-size: 7em;
  }
  .main_03 .txt p:first-child, .main_04 .txt p:first-child, .main_05 .txt p:first-child, .main_06 .txt p:first-child {
    font-size: 3.2em;
  }
  .main_03 .txt p:last-child, .main_04 .txt p:last-child, .main_05 .txt p:last-child, .main_06 .txt p:last-child {
    font-size: 1.2em;
  }
  .main_07 img {
    width: 60%;
  }
}

@media (max-width: 480px) {
  aside .sns li a img {
    width: 15px;
  }
  .header_02 div .logo img {
    width: 50px;
  }
  .header_02 div .menu a {
    padding: 0 8px;
    font-size: 0.5em;
  }
  .header_02 div .menu a img {
    width: 100%;
  }
  .main_01 h2 {
    font-size: 3.5em;
  }
  .main_02 span {
    font-size: 3.5em;
  }
  .main_03, .main_04, .main_05, .main_06 {
    height: 50vh;
  }
  .main_03 .txt, .main_04 .txt, .main_05 .txt, .main_06 .txt {
    top: 20%;
    left: 10%;
  }
  .main_03 .txt p:first-child, .main_04 .txt p:first-child, .main_05 .txt p:first-child, .main_06 .txt p:first-child {
    font-size: 2em;
  }
  .main_03 .txt p:last-child, .main_04 .txt p:last-child, .main_05 .txt p:last-child, .main_06 .txt p:last-child {
    font-size: 0.6em;
  }
  footer {
    padding: 40px 20px;
  }
  footer p {
    font-size: 0.6em;
  }
}
/*# sourceMappingURL=company.css.map */