@charset "UTF-8";
@import url('common.css');

.header{
    position:fixed;
    top:0;
    width:100%;
    padding:43px 0;
    z-index: 999;

    div{
        width:95%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        align-items:center;
        a{
            img{width:100%; vertical-align: middle;}
        }
        nav{
            display:flex;
            align-items: center;
            a{
                padding:0 30px; font-weight: bold; font-size:1.1em; color:#000;
                img{width:100%; vertical-align: middle;};
            }
            a:nth-of-type(5){padding:0;}
        }
        
    }
}

aside{
    position: fixed;
    top:80%; right:4%;
    .sns{ 
        li a img{
            width:20px;
        }   
    }
}

.main_01{
    width:100%;

    h2{font-size:10em; margin-top:200px; margin-left: 6.61%;}
    p{
        white-space: pre-line;
    }
    p:nth-of-type(1){
        margin: 0 0 0 333px;
        margin-left: 17.34%;
        font-size:1.4em;
        font-weight: bold;

    }
    p:nth-of-type(2){
        margin-top:110px;
        margin:110px 8% 30px 30%;
        font-size:1.5em;
    }
}

.main_02{
    width:100%;

    .inner_02{
        display:flex;
        margin:110px 8% 30px 30%;
        
        div{
            white-space: pre-line; 

            h4{font-size:1.9em;}
            p{font-size:1em;}
            a{font-size:1.1em;}
        }
        div:nth-of-type(1){
            p:nth-of-type(1){line-height: 1.6; margin-bottom:20px;}
            a{
                img{
                    margin-left: 5px;
                    width: 15px;
                }
            }
            a:nth-of-type(1){border-bottom:1px solid #000;}
            a:nth-of-type(2){
                margin-left:20px;
                border-bottom:1px solid #000;
            }
        }
        div:nth-of-type(2){
            margin-left: 50px;
            p:nth-of-type(2){margin-bottom:85px;}
            a{
                
                border-bottom:1px solid #000;
            }
        }
    }

}

.main_03{
    img{width:100%;}
}

footer{
    padding: 100px 4.17% 70px;
    p{font-size:1em; letter-spacing:0.25px;}
}

@media (max-width:1250px){
    .main_01{
        h2{font-size:8em;}
        p:nth-of-type(1){
            font-size:1.1em;
        }
        p:nth-of-type(2){
            font-size:1.2em;
        }
    }
    .main_02{
        .inner_02{
            div{
                h4{font-size:1.5em;}
                p{font-size:0.8em;}
                a{font-size:0.9em;}
            }
            div:nth-of-type(1){
                a{
                    img{width: 10px; vertical-align: middle;}
                }
            }
        }
    }
}

@media (max-width:1080px){
    .main_01{
        h2{font-size:6em;}
        p:nth-of-type(1){
            font-size:0.9em;
        }
        p:nth-of-type(2){
            font-size:0.9em;
        }
    }
    .main_02{
        .inner_02{
            div{
                h4{font-size:1.5em;}
                p{font-size:0.7em;}
                a{font-size:0.8em;}
            }
        }
    }
    .header{
        div{
            a{
                img{width:50%}
            }
            nav{
                a{font-size:0.8em;}
            }
        }
    }
}
    