@import url("common.css");
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 43px 0;
  z-index: 999;
}

.header div {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header div a img {
  width: 100%;
  vertical-align: middle;
}

.header div nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header div nav a {
  color: #000;
  padding: 0 30px;
  font-weight: bold;
  font-size: 1.1em;
}

.header div nav a img {
  width: 100%;
  vertical-align: middle;
}

.header div nav a:nth-of-type(5) {
  padding: 0;
}

aside {
  width: 100%;
  position: fixed;
  top: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
  z-index: 888;
}

aside .scroll_b {
  position: relative;
  width: 100%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: bold;
  font-size: 0.9em;
}

aside .scroll_b::after {
  content: '';
  display: block;
  clear: both;
  width: 10px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 7px;
  left: -95px;
  -webkit-animation: scroll 3s infinite ease;
          animation: scroll 3s infinite ease;
}

aside .sns {
  margin-top: -100px;
}

aside .sns li a img {
  width: 100%;
}

@-webkit-keyframes scroll {
  50% {
    width: 85px;
  }
  100% {
    width: 10px;
  }
}

@keyframes scroll {
  50% {
    width: 85px;
  }
  100% {
    width: 10px;
  }
}

.play {
  position: fixed;
  bottom: 5%;
  z-index: 888;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

.play .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play .cell a {
  padding: 0 10px;
}

.play .cell a span {
  width: 7px;
  height: 7px;
  background: #000;
  display: block;
}

.play .pbtn {
  margin-right: 100px;
}

.play .pbtn a img {
  width: 100%;
  padding: 0 10px;
}

.main_01 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main_01 .imgList {
  position: relative;
}

.main_01 .imgList img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.main_01 .imgList img:nth-of-type(1) {
  z-index: 10;
}

.main_01 .imgList img:nth-of-type(2) {
  z-index: 9;
}

.main_01 .imgList img:nth-of-type(3) {
  z-index: 8;
}

.main_01 .imgList img:nth-of-type(4) {
  z-index: 7;
}

.main_01 .txt01 {
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 99;
}

.main_01 .txt01 p:nth-of-type(1) {
  font-size: 7em;
  font-weight: bold;
}

.main_01 .txt01 p:nth-of-type(2) {
  text-align: center;
  font-size: 1.3em;
  padding: 5px 0 40px 0;
  margin-left: -25%;
}

.main_01 .txt01 a {
  display: block;
  border: 1px solid #000;
  width: 150px;
  color: #000;
  text-align: center;
  padding: 5px 5px;
  margin-left: 28%;
  font-size: 0.8em;
  font-weight: bold;
}

.main_01 .txt01 a img {
  width: 10px;
  height: 12px;
  vertical-align: middle;
  margin-left: 25%;
}

.main_02 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main_02 .imgList {
  position: relative;
}

.main_02 .imgList img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.main_02 .imgList img:nth-of-type(1) {
  z-index: 10;
}

.main_02 .imgList img:nth-of-type(2) {
  z-index: 9;
}

.main_02 .imgList img:nth-of-type(3) {
  z-index: 8;
}

.main_02 .imgList img:nth-of-type(4) {
  z-index: 7;
}

.main_02 .txt01 {
  position: absolute;
  left: 8%;
  top: 45%;
  z-index: 99;
}

.main_02 .txt01 p {
  white-space: pre-line;
  color: #fff;
}

.main_02 .txt01 p:nth-of-type(1) {
  font-size: 6.5em;
  font-weight: bold;
}

.main_02 .txt01 p:nth-of-type(2) {
  text-align: left;
  font-size: 1.3em;
  padding: 5px 0 40px 0;
  margin-left: 20%;
  position: relative;
}

.main_02 .txt01 p:nth-of-type(2)::after {
  content: '';
  display: block;
  width: 300px;
  height: 100px;
  position: absolute;
  left: 55%;
  top: 40%;
  background: url("../imgs/main/img_award_cj.png") no-repeat;
}

.main_02 .txt01 a {
  display: block;
  border: 1px solid #fff;
  color: #fff;
  width: 150px;
  padding: 5px 5px;
  margin-left: 20%;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

.main_02 .txt01 a img {
  width: 10px;
  height: 12px;
  vertical-align: middle;
  margin-left: 25%;
}

.main_03 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main_03 .imgList {
  position: relative;
}

.main_03 .imgList img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.main_03 .imgList img:nth-of-type(1) {
  z-index: 10;
}

.main_03 .imgList img:nth-of-type(2) {
  z-index: 9;
}

.main_03 .imgList img:nth-of-type(3) {
  z-index: 8;
}

.main_03 .txt01 {
  position: absolute;
  left: 8%;
  top: 25%;
  z-index: 99;
}

.main_03 .txt01 p {
  white-space: pre-line;
}

.main_03 .txt01 p:nth-of-type(1) {
  font-size: 7em;
  font-weight: bold;
  line-height: 1.2;
}

.main_03 .txt01 p:nth-of-type(2) {
  text-align: center;
  font-size: 1.3em;
  padding: 5px 0 40px 200px;
}

.main_04 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main_04 .imgList {
  position: relative;
}

.main_04 .imgList img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.main_04 .imgList img:nth-of-type(1) {
  z-index: 10;
}

.main_04 .imgList img:nth-of-type(2) {
  z-index: 9;
}

.main_04 .txt01 {
  position: absolute;
  left: 10%;
  top: 30%;
  z-index: 99;
}

.main_04 .txt01 p {
  white-space: pre-line;
  color: #fff;
}

.main_04 .txt01 p:nth-of-type(1) {
  font-size: 7em;
  font-weight: bold;
}

.main_04 .txt01 p:nth-of-type(2) {
  text-align: center;
  font-size: 1.3em;
  padding: 5px 0 40px 0;
  margin-left: 45%;
}

.main_04 .txt01 a {
  display: block;
  border: 1px solid #fff;
  color: #fff;
  width: 150px;
  padding: 5px 0;
  margin-left: 27%;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 53%;
  text-align: center;
}

.main_04 .txt01 a img {
  width: 10px;
  height: 12px;
  vertical-align: middle;
  margin-left: 25%;
}

.main_05 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main_05 .imgList {
  position: relative;
}

.main_05 .imgList img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.main_05 .imgList img:nth-of-type(1) {
  z-index: 10;
}

.main_05 .imgList img:nth-of-type(2) {
  z-index: 9;
}

.main_05 .imgList img:nth-of-type(3) {
  z-index: 8;
}

.main_05 .imgList img:nth-of-type(4) {
  z-index: 7;
}

.main_05 .txt01 {
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 99;
}

.main_05 .txt01 p {
  width: 100%;
  white-space: pre-line;
}

.main_05 .txt01 p:nth-of-type(1) {
  font-size: 7em;
  font-weight: bold;
}

.main_05 .txt01 p:nth-of-type(2) {
  text-align: center;
  font-size: 1.1em;
  padding: 5px 0 40px 0;
  margin-left: 50%;
  text-align: left;
}

.main_05 .txt01 a {
  display: block;
  border: 1px solid #000;
  width: 150px;
  padding: 5px 10px;
  margin-left: 50%;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.main_05 .txt01 a img {
  width: 10px;
  height: 12px;
  vertical-align: middle;
  margin-left: 25%;
}

.main_06 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main_06 .imgList {
  position: relative;
}

.main_06 .imgList img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.main_06 .imgList img:nth-of-type(1) {
  z-index: 10;
}

.main_06 .imgList img:nth-of-type(2) {
  z-index: 9;
}

.main_06 .imgList img:nth-of-type(3) {
  z-index: 8;
}

.main_06 .txt01 {
  position: absolute;
  left: 10%;
  top: 50%;
  z-index: 99;
}

.main_06 .txt01 p {
  width: 100%;
  white-space: pre-line;
}

.main_06 .txt01 p:nth-of-type(1) {
  font-size: 7em;
  font-weight: bold;
}

.main_06 .txt01 p:nth-of-type(2) {
  text-align: center;
  font-size: 1.1em;
  padding: 5px 0 40px 0;
  margin-left: 30%;
  text-align: left;
}

.main_06 .txt01 a {
  display: block;
  border: 1px solid #000;
  width: 150px;
  padding: 5px 10px;
  margin-left: 30%;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.main_06 .txt01 a img {
  width: 10px;
  height: 12px;
  vertical-align: middle;
  margin-left: 25%;
}

.main_07 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.main_07 .imgList {
  position: relative;
}

.main_07 .imgList img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
}

.main_07 .imgList img:nth-of-type(1) {
  z-index: 10;
}

.main_07 .imgList img:nth-of-type(2) {
  z-index: 9;
}

.main_07 .imgList img:nth-of-type(3) {
  z-index: 8;
}

.main_07 .txt01 {
  position: absolute;
  left: 8%;
  top: 30%;
  z-index: 99;
}

.main_07 .txt01 p {
  width: 100%;
  white-space: pre-line;
}

.main_07 .txt01 p:nth-of-type(1) {
  font-size: 7em;
  font-weight: bold;
}

.main_07 .txt01 p:nth-of-type(2) {
  text-align: center;
  font-size: 1.2em;
  padding: 5px 0 40px 0;
  margin-left: 30%;
  text-align: left;
}

.main_07 .txt01 a {
  display: block;
  border: 1px solid #000;
  width: 150px;
  padding: 5px 10px;
  margin-left: 30%;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.main_07 .txt01 a img {
  width: 10px;
  height: 12px;
  vertical-align: middle;
  margin-left: 25%;
}

@media (max-width: 1350px) {
  .main_01 .txt01 p:nth-of-type(1), .main_02 .txt01 p:nth-of-type(1), .main_03 .txt01 p:nth-of-type(1), .main_04 .txt01 p:nth-of-type(1), .main_05 .txt01 p:nth-of-type(1), .main_06 .txt01 p:nth-of-type(1), .main_07 .txt01 p:nth-of-type(1) {
    font-size: 5em;
    font-weight: bold;
  }
  .main_01 .txt01 p:nth-of-type(2), .main_02 .txt01 p:nth-of-type(2), .main_03 .txt01 p:nth-of-type(2), .main_04 .txt01 p:nth-of-type(2), .main_05 .txt01 p:nth-of-type(2), .main_06 .txt01 p:nth-of-type(2), .main_07 .txt01 p:nth-of-type(2) {
    font-size: 1em;
  }
  .main_01 .txt01 a, .main_02 .txt01 a, .main_03 .txt01 a, .main_04 .txt01 a, .main_05 .txt01 a, .main_06 .txt01 a, .main_07 .txt01 a {
    font-size: 0.5em;
  }
  .main_02 .txt01 p:nth-of-type(2)::after {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 920px) {
  .main_01 .txt01 p:nth-of-type(1), .main_02 .txt01 p:nth-of-type(1), .main_03 .txt01 p:nth-of-type(1), .main_04 .txt01 p:nth-of-type(1), .main_05 .txt01 p:nth-of-type(1), .main_06 .txt01 p:nth-of-type(1), .main_07 .txt01 p:nth-of-type(1) {
    font-size: 3em;
    font-weight: bold;
  }
  .main_01 .txt01 p:nth-of-type(2), .main_02 .txt01 p:nth-of-type(2), .main_03 .txt01 p:nth-of-type(2), .main_04 .txt01 p:nth-of-type(2), .main_05 .txt01 p:nth-of-type(2), .main_06 .txt01 p:nth-of-type(2), .main_07 .txt01 p:nth-of-type(2) {
    font-size: 0.8em;
  }
  .main_02 .txt01 p:nth-of-type(2)::after {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .header div a img {
    width: 50%;
  }
  .header div nav a {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=main.css.map */