@charset "UTF-8";
@import url('common.css');

.header{
    position:fixed;
    top:0;
    width:100%;
    padding:43px 0;
    z-index: 999;

    div{
        width:95%;
        margin:0 auto;
        display:flex;
        justify-content: space-between;
        align-items:center;

        .logo{
            img{width:100px;}
        }
        
        .menu{
            display:flex;
            align-items: center;
            a{
                padding:0 30px; font-weight: bold; font-size:1.1em; color:#000;
                img{width:70px; vertical-align: middle; display:inline-block};
            }
            a:nth-of-type(5){padding:0;}
        }
        
    }
}

aside{
    width:100%;
    position:fixed;
    top:90%;
    display:flex;
    padding:0 40px;
    z-index:888;
    .scroll_b{
        position:relative;
        width:100%;
        transform-origin:0 0;
        transform:rotate(-90deg);
        font-weight:bold;
        
        font-size:0.9em;
        
        &::after{
            content:'';
            display:block;
            clear:both;

            width:10px;
            border:1px solid rgba(0,0,0,0.7);
            
            position:absolute;  
            top:7px; left: -95px;
            animation: scroll 3s infinite ease;
        }
    }
    .sns{ 
        margin-top: -100px;
        li a img{
            width:100%;
        }   
    }
}

@keyframes scroll{
    50%{width:85px;}
    100%{width:10px;}
}

.play{
    position:fixed;
    bottom:5%;
    z-index:888;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float:right;
    .cell{
        display: flex;
        align-items: center;
        a{
            padding:0 12px; 
            span{width:7px; height:7px; background:#000; display:block;}
        }
    }
    .pbtn{
        margin-right:100px;
        a{
            img{width:15px; margin-left:15px;}
        }
    }
}

.main_01{
    width:100%; height:100vh;
    position:relative;
    
    .imgList{
        position:relative;
        img{
            position:absolute;
            left:0; top:0;
            width:100%;
            height:100vh;
            object-fit: cover;
        } 
        
    }
    
    .txt01{
        position:absolute;
        left:10%; top:50%;
        z-index: 99;
        p:nth-of-type(1){font-size:7em; font-weight:bold;}
        p:nth-of-type(2){
            text-align:center; 
            font-size:1.3em;
            padding:5px 0 40px 0;
            margin-left:-25%;
        }
        a{
            display:block;
            border:1px solid #000;
            width:150px;
            color:#000;
            text-align:center;
            
            padding:5px 5px; 
            margin-left:28%;
            font-size:0.8em;
            font-weight:bold;

            img{width:10px; height:12px; vertical-align:middle; margin-left:25%;}
        }
    }
}

.main_02{
    width:100%; height:100vh;
    position:relative;

    .imgList{
        position:relative;
        img{
            position:absolute;
            left:0; top:0;
            width:100%;
            height:100vh;
            object-fit: cover;
        }    
        img:nth-of-type(1){z-index: 10;}
        img:nth-of-type(2){z-index: 9;}
        img:nth-of-type(3){z-index: 8;}
        img:nth-of-type(4){z-index: 7;}
    }

    .txt01{
        position:absolute;
        left:8%; top:45%;
        z-index: 99;
        p{white-space: pre-line; color:#fff;}
        p:nth-of-type(1){font-size:6.5em; font-weight:bold;}
        p:nth-of-type(2){
            text-align:left; 
            font-size:1.3em;
            padding:5px 0 40px 0;
            margin-left:20%;
            position:relative;
        }
        p:nth-of-type(2)::after{
            content:'';
            display:block;
            width:300px;
            height:100px;
            position:absolute;
            left:55%; top:40%;
            background:url('../imgs/main/img_award_cj.png') no-repeat;
        }
        a{
            display:block;  
            border:1px solid #fff;
            color:#fff;
            width:150px;
            padding:5px 5px; 
            margin-left:20%;
            font-size:0.8em;
            font-weight:bold;
            text-align:center;

            img{width:10px; height:12px; vertical-align:middle; margin-left:25%;}
        }
    }
}

.main_03{
    width:100%; height:100vh;
    position:relative;

    .imgList{
        position:relative;
        img{
            position:absolute;
            left:0; top:0;
            width:100%;
            height:100vh;
            object-fit: cover;
        }
        img:nth-of-type(1){z-index: 10;}
        img:nth-of-type(2){z-index: 9;}
        img:nth-of-type(3){z-index: 8;}
    }

    .txt01{
        position:absolute;
        left:8%; top:25%;
        z-index: 99;
        p{white-space: pre-line;}
        p:nth-of-type(1){font-size:7em; font-weight:bold; line-height: 1.2;}
        p:nth-of-type(2){
            text-align:center; 
            font-size:1.3em;
            padding:5px 0 40px 200px;
        }
    }
}

.main_04{
    width:100%; height:100vh;
    position:relative;

    .imgList{
        position:relative;
        img{
            position:absolute;
            left:0; top:0;
            width:100%;
            height:100vh;
            object-fit: cover;
        }
        img:nth-of-type(1){z-index: 10;}
        img:nth-of-type(2){z-index: 9;}
    }

    .txt01{
        position:absolute;
        left:10%; top:30%;
        z-index: 99;
        p{white-space: pre-line; color:#fff;}
        p:nth-of-type(1){font-size:7em; font-weight:bold;}
        p:nth-of-type(2){
            text-align:center; 
            font-size:1.3em;
            padding:5px 0 40px 0;
            margin-left:45%;
        }
        a{
            display:block;
            border:1px solid #fff;
            color:#fff;
            width:150px;
            padding:5px 0; 
            margin-left:27%;
            font-size:0.8em;
            font-weight:bold;
            margin-left:53%;
            text-align:center;

            img{width:10px; height:12px; vertical-align:middle; margin-left:25%;}
        }
    }
}

.main_05{
    width:100%; height:100vh;
    position:relative;

    .imgList{
        position:relative;
        img{
            position:absolute;
            left:0; top:0;
            width:100%;
            height:100vh;
            object-fit: cover;
        }    
        img:nth-of-type(1){z-index: 10;}
        img:nth-of-type(2){z-index: 9;}
        img:nth-of-type(3){z-index: 8;}
        img:nth-of-type(4){z-index: 7;}
    }

    .txt01{
        position:absolute;
        left:10%; top:50%;
        z-index: 99;
        p{width:100%; white-space: pre-line;}
        p:nth-of-type(1){font-size:7em; font-weight:bold;}
        p:nth-of-type(2){
            text-align:center; 
            font-size:1.1em;
            padding:5px 0 40px 0;
            margin-left:50%;
            text-align:left;
        }
        a{
            display:block;
            border:1px solid #000;
            width:150px;
            padding:5px 10px; 
            margin-left:50%;
            font-size:0.8em;
            font-weight:bold;
            text-align:center;
            color:#000;

            img{width:10px; height:12px; vertical-align:middle; margin-left:25%;}
        }
    }
}

.main_06{
    width:100%; height:100vh;
    position:relative;

    .imgList{
        position:relative;
        img{
            position:absolute;
            left:0; top:0;
            width:100%;
            height:100vh;
            object-fit: cover;
        }
        img:nth-of-type(1){z-index: 10;}
        img:nth-of-type(2){z-index: 9;}
        img:nth-of-type(3){z-index: 8;}
    }

    .txt01{
        position:absolute;
        left:10%; top:50%;
        z-index: 99;
        p{width:100%; white-space: pre-line;}
        p:nth-of-type(1){font-size:7em; font-weight:bold;}
        p:nth-of-type(2){
            text-align:center; 
            font-size:1.1em;
            padding:5px 0 40px 0;
            margin-left:30%;
            text-align:left;
        }
        a{
            display:block;
            border:1px solid #000;
            width:150px;
            padding:5px 10px; 
            margin-left:30%;
            font-size:0.8em;
            font-weight:bold;
            text-align:center;
            color:#000;

            img{width:10px; height:12px; vertical-align:middle; margin-left:25%;}
        }
    }
}

.main_07{
    width:100%; height:100vh;
    position:relative;

    .imgList{
        position:relative;
        img{
            position:absolute;
            left:0; top:0;
            width:100%;
            height:100vh;
            object-fit: cover;
        }
        img:nth-of-type(1){z-index: 10;}
        img:nth-of-type(2){z-index: 9;}
        img:nth-of-type(3){z-index: 8;}
    }

    .txt01{
        position:absolute;
        left:8%; top:30%;
        z-index: 99;
        p{width:100%; white-space: pre-line;}
        p:nth-of-type(1){font-size:7em; font-weight:bold;}
        p:nth-of-type(2){
            text-align:center; 
            font-size:1.2em;
            padding:5px 0 40px 0;
            margin-left:30%;
            text-align:left;
        }
        a{
            display:block;
            border:1px solid #000;
            width:150px;
            padding:5px 10px; 
            margin-left:30%;
            font-size:0.8em;
            font-weight:bold;
            text-align:center;
            color:#000;

            img{width:10px; height:12px; vertical-align:middle; margin-left:25%;}
        }
    }
}

@media (max-width:1350px){
    .main_01, .main_02, .main_03, .main_04, .main_05, .main_06 , .main_07{
        .txt01{
            p:nth-of-type(1){font-size:5em; font-weight:bold;}
            p:nth-of-type(2){font-size:1em;}

            a{font-size:0.5em;}
        }
    }
    .main_02{
        .txt01{
            p:nth-of-type(2)::after{transform:scale(0.9);}
        }
    }
    
}
@media (max-width:920px){
    .main_01, .main_02, .main_03, .main_04, .main_05, .main_06 , .main_07{
        .txt01{
            p:nth-of-type(1){font-size:3em; font-weight:bold;}
            p:nth-of-type(2){font-size:0.8em;}

        }
    }
    .main_02{
        .txt01{
            p:nth-of-type(2)::after{transform:scale(0.7);}
        }
    }

    .header{
        div{
            .logo{
                img{width:70px;}
            }
            .menu{
                a{
                    padding:0 20px;
                    font-size:0.9em;
                    img{width:50px;}
                }
            }
        }
    }
}

@media(max-width:480px){
    aside{
        padding:0 20px;
        .scroll_b{
            font-size:0.6em;

            &::after{
                position:absolute;  
                top:5px; left: -95px;
            }
        }
        .sns{ 
            li a img{
                width:15px;
            }   
        }
    }

    .header{
        div{
            .logo{
                img{width:50px;}
            }
            .menu{
                a{
                    padding: 0 8px;
                    font-size:0.5em;
                    img{width:35px;}
                }
            }
        }
    }

    .play{
        .cell{
            a{
                padding:0 10px;
                span{width:6px; height:6px; display:inline-block;}
            }
        }
        .pbtn{
            margin-right:50px;
            a{ 
                img{width:10px; vertical-align: middle;}
            }
        }
    }

    .main_01{
        .imgList{
            img{
            }
        }
    }
    .main_02{
        .txt01{
            p:nth-of-type(1){font-size:2.5em; font-weight:bold; width:100px;}
            p:nth-of-type(2)::after{transform:scale(0.4);}
        }
    }
    .main_03{
        .txt01{
            p:nth-of-type(1){font-size:3em; font-weight:bold; margin-top:150px;}
            p:nth-of-type(2){font-size:0.7em; margin-left:70px; padding:0; text-align: left;}

        }
    }
    .main_04, .main_05, .main_06 , .main_07{

    }

}